wechaty
wechaty-puppet
wechaty-puppet-service
wechaty-plugin-contrib
apscheduler
pandas
openpyxl
pyparsing
dataclasses-json
python-dotenv
pdfkit
asq
typed-argument-parser
# git+https://github.com/wj-Mcat/juweihui.git